
@{
    ViewBag.Title = "DashBoardRelatedToProject";

}
<h2 class="text-primary text-center">
    @Session["ProjectName"]
</h2>
<br />
<br />
<div class="form-group">
    <div class="col-md-4">
        <a class="btn btn-primary" href="/DashBoard/TimeCount">BackToList</a>
    </div>
</div>

