@model IEnumerable<EmployeeAttendance.BAL.Models.LogInVM>
@{
    ViewBag.Title = "Index";
    //var testsession = Session["Data"];
}
<br />
<br />
<div class="form-group btn-contact">
    <div class="col-md-6">
        <a class="btn btn-primary" href="/DashBoard/Detail">View Profile</a>
    </div>
</div>
<center>
    <p>
        <input type="date" id="startDate" name="FromDate" />
        <input type="date" name="ToDate" id="endDate" />
        <input type="submit" id="btnSearchData" name="submit" value="Search" />
    </p>

</center>

<div id="partialView">
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#partialView").load('@Url.Content("/DashBoard/SearchByDates")');
        });

        $('#btnSearchData').click(function () {
            var FromDate = $('#startDate').val();
            var ToDate = $('#endDate').val();
                //alert(FromDate);

            $.ajax({
                type: "GET",   //POST
                url: "/DashBoard/SearchByDates",  //SearchDates
                data: {
                    FromDate: FromDate,
                    ToDate: ToDate,
                },
                success: function (result) {
                    $('#partialView').html(result);
                }
            });
        });

    </script>
}
