@model IEnumerable<EmployeeAttendance.BAL.Models.EmployeeVM>

@{
    ViewBag.Title = "Display";
}
<br />
<br />
<div class="form-group btn-contact">
    <div class="col-md-6">
        <a class="btn btn-primary" href="/Employee/Index"><</a>
    </div>
</div>
<br />
<br />
@*<center>
    <p>
        <input type="search" id="startDate" placeholder="Search" id="searchData" name="Search" />
        
        <input type="date" placeholder="OnDate" id="startDate" name="OnDate" />
        <input type="submit" id="btnSearchData" name="submit" value="Search" />
    </p>

</center>*@
<div class="row">
    <div class="col-lg-3">
        <input type="search" name="Search" class="form-control" placeholder="Search Name" id="searchData" />
    </div>
    <div class="col-lg-3">
        <input type="date" class="form-control" placeholder="OnDate" id="startDate" name="OnDate" />
    </div>
    <div class="col-lg-3">
        <button class=" btn btn-primary" type="submit" id="btnSearchData" name="submit"><span class="glyphicon glyphicon-search"></span></button>
        @*<input type="submit" id="btnSearchData" name="submit" value="Search" />*@
    </div>
</div>
<div id="partialView">
</div>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section Scripts {
    <script src="~/Scripts/jquery-ui-1.12.0.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $("#partialView").load('@Url.Content("/Employee/ListOfTotalTime")');
        });

        $('#btnSearchData').click(function () {
            var Search = $('#searchData').val();
            var OnDate = $('#startDate').val();
         /*   alert(Search);*/
            $.ajax({
                type: "GET",   //POST
                url: "/Employee/ListOfTotalTime",
                data: {
                    Search: Search,
                    OnDate: OnDate,
                },
                success: function (result) {
                    $('#partialView').html(result);
                }
            });
        });

    </script>
}
